<div class="modal-header">
		{{message}}
	</div>	
	<div class="modal-body">
		
		<label>First Name:</label> <input type="text" ng-model="newUser.orderID" ng-disabled="isSaved"> <br>
		<label>Last Name: <input type="text" ng-model="newUser.companyName" ng-disabled="isSaved"><br>
		<label>Email: <input type="text" maxlength="35" ng-model="newUser.amount" ng-disabled="isSaved"><br>
		<label>Country Name: <input type="text" ng-model="newUser.ranking" ng-disabled="isSaved"><br>
			
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-hide="isSaved" ng-click="save()">save</button>
		<button class="btn btn-primary" ng-hide="isSaved" ng-click="cancel()">cancel</button>
		<button class="btn btn-primary"  ng-click="close()">close</button>
	</div>